In [1]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv(r"C:\Users\Vinay\Downloads\bank+marketing\bank-additional\bank-additional\bank-additional.csv",sep=';')

In [6]:
df.info

<bound method DataFrame.info of       age          job  marital          education default  housing     loan  \
0      30  blue-collar  married           basic.9y      no      yes       no
1      39     services   single        high.school      no       no       no
2      25     services  married        high.school      no      yes       no
3      38     services  married           basic.9y      no  unknown  unknown
4      47       admin.  married  university.degree      no      yes       no
...   ...          ...      ...                ...     ...      ...      ...
4114   30       admin.  married           basic.6y      no      yes      yes
4115   39       admin.  married        high.school      no      yes       no
4116   27      student   single        high.school      no       no       no
4117   58       admin.  married        high.school      no       no       no
4118   34   management   single        high.school      no      yes       no

        contact month day_of_week  ...  campaign  pdays  previous  \
0      cellular   may         fri  ...         2    999         0
1     telephone   may         fri  ...         4    999         0
2     telephone   jun         wed  ...         1    999         0
3     telephone   jun         fri  ...         3    999         0
4      cellular   nov         mon  ...         1    999         0
...         ...   ...         ...  ...       ...    ...       ...
4114   cellular   jul         thu  ...         1    999         0
4115  telephone   jul         fri  ...         1    999         0
4116   cellular   may         mon  ...         2    999         1
4117   cellular   aug         fri  ...         1    999         0
4118   cellular   nov         wed  ...         1    999         0

         poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
0     nonexistent         -1.8          92.893          -46.2      1.313
1     nonexistent          1.1          93.994          -36.4      4.855
2     nonexistent          1.4          94.465          -41.8      4.962
3     nonexistent          1.4          94.465          -41.8      4.959
4     nonexistent         -0.1          93.200          -42.0      4.191
...           ...          ...             ...            ...        ...
4114  nonexistent          1.4          93.918          -42.7      4.958
4115  nonexistent          1.4          93.918          -42.7      4.959
4116      failure         -1.8          92.893          -46.2      1.354
4117  nonexistent          1.4          93.444          -36.1      4.966
4118  nonexistent         -0.1          93.200          -42.0      4.120

      nr.employed   y
0          5099.1  no
1          5191.0  no
2          5228.1  no
3          5228.1  no
4          5195.8  no
...           ...  ..
4114       5228.1  no
4115       5228.1  no
4116       5099.1  no
4117       5228.1  no
4118       5195.8  no

[4119 rows x 21 columns]>

In [8]:
df.shape

(4119, 21)

In [9]:
df.size

86499

In [11]:
df.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [12]:
df.

AttributeError: 'DataFrame' object has no attribute 'null'