In [19]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [20]:
visa_df=pd.read_csv("Visadataset.csv")

In [21]:
visa_df.head(2)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified

In [22]:
col=visa_df.select_dtypes(exclude='object').columns

In [23]:
col

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

In [24]:
mean=round(visa_df['no_of_employees'].mean(),2)

In [25]:
median=round(visa_df['no_of_employees'].median(),2)

In [26]:
max=round(visa_df['no_of_employees'].max(),2)

In [27]:
min=round(visa_df['no_of_employees'].min(),2)

In [28]:
std=round(visa_df['no_of_employees'].std(),2)
val=[mean,median,max,min,std]

In [29]:
pd.DataFrame((mean,median,max,min,std),columns=['no_of_employees'])

   no_of_employees
0          5667.04
1          2109.00
2        602069.00
3           -26.00
4         22877.93

In [30]:
wage_count=round(len(visa_df['prevailing_wage']),2)
wage_max=round(visa_df['prevailing_wage'].max(),2)
wage_min=round(visa_df['prevailing_wage'].min(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2)
wage_median=round(visa_df['prevailing_wage'].median(),2)
wage_std=round(visa_df['prevailing_wage'].std(),2)
list_values=[wage_count,wage_max,wage_min,wage_mean,wage_median,wage_std]
index_val=['count','man','mix','mean','median','std']
#create a data frame
df=pd.DataFrame(list_values,columns=['prevailing_wage'],index=index_val)
df.T

                   count        man   mix      mean    median       std
prevailing_wage  25480.0  319210.27  2.14  74455.81  70308.21  52815.94

In [31]:
df

        prevailing_wage
count          25480.00
man           319210.27
mix                2.14
mean           74455.81
median         70308.21
std            52815.94

In [50]:
wage_25p=round(np.percentile(visa_df['prevailing_wage'],25),2)
wage_50p=round(np.percentile(visa_df['prevailing_wage'],50),2)
wage_75p=np.

In [44]:
wage_25p

34015.48

In [57]:
wage_75p=round(np.percentile(visa_df['prevailing_wage'],75),2)

In [58]:
wage_75p

107735.51

In [59]:
#quartile is a method under numpy package